doctype html 
html 
    head 
    h1 Returning an item
   
    p="You can return an item for free within 30 days after receiving your order. It's also possible to return something to one of our stores if your order didn't have a delivery fee."
    p="Eligible online orders from October 24th, 2024 until January 23th, 2025 can be returned or exchanged within 60 days of receipt with our holiday extended return period."
    hr
    img(src='LLC.jpg')

    

 
          
       
          

